<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>周宇个人博客</title>
<meta name="keywords" content="个人博客模板,博客模板" />
<meta name="description" content="优雅、稳重、大气,低调。" />
<link href="__PUBLIC__/Home/css/index.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/HTML5/junk/readme.css" type="text/css" media="screen">

  <script type="text/javascript" src="__PUBLIC__/HTML5/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/HTML5/js/speakker-big.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    projekktor('.projekktor');
  });
  </script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav">
      <a href="__MODULE__/Index/index"><span>首页</span><span class="en">Honme</span></a>
      <a href="__MODULE__/Index/about"><span>关于我</span><span class="en">About</span></a>
      </a><a href="__MODULE__/Riji/index"><span>个人日记</span><span class="en">Diary</span></a>
      <a href="__MODULE__/Bowen/index"><span>学习痕迹</span><span class="en">Seo</span></a>
      <a href="__MODULE__/Index/xiangce" target="_Blank"><span>宇的相册</span><span class="en">Photo</span></a>
      <a href="__MODULE__/Message/index"><span>留言版</span><span class="en">Gustbook</span></a>
  </nav>
</header>